{% extends 'NetgenMoreAdminUIBundle::pagelayout_variables.html.twig' %}

{% block pagelayout_content %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700,400,600&subset=latin,latin-ext" />

    {% set ui_context = module_result.ui_context|default( 'navigation' ) %}
    {% set ui_component = module_result.ui_component|default( 'content' ) %}

    {% set ui_context_edit = ui_context == 'edit' %}
    {% set content_edit = ui_context_edit and ui_component == 'content' %}

    {% include 'NetgenMoreAdminUIBundle::page_head.html.twig' %}

    {% include 'design:page_head_style.tpl' %}
    {% include 'design:page_head_script.tpl' %}

    {% include 'NetgenMoreAdminUIBundle::page_head_style.html.twig' %}
    {% include 'NetgenMoreAdminUIBundle::page_head_script.html.twig' %}
</head>

<body>
    <div id="page" class="{{ module_result.navigation_part|default( 'ezcontentnavigationpart' ) }} section_id_{{ module_result.section_id|default( '0' ) }} {% if content_edit or ui_context_edit %} content-edit{% endif %}{% if not show_side_menu %} hide-side-menu{% endif %}">
        <header id="header">
            <div class="header-nav">
                <a id="header-logo" href="{{ path( 'ez_urlalias', { locationId: ezpublish.configResolver.parameter( 'content.tree_root.location_id' ) } ) }}" title="{{ site_name }}"></a>
            </div>
        </header>

        {% if show_side_menu %}
            <aside id="aside">
                <div class="aside-wrap">
                    {% include 'design:page_sidemenu.tpl' %}
                </div>
            </aside>
        {% endif %}

        <div id="content">
            <div class="content-body">
                <div id="columns">
                    {% if not content_edit %}
                        {% include 'design:page_leftmenu.tpl' with { uri_string: app.request.attributes.get( 'semanticPathinfo' )|trim( '/' ) } %}
                    {% endif %}

                    <div id="main-column" class="main-column layout-column">
                        <div class="layout-column-inner">
                            <div class="inner-cell">
                                <div id="path" {% if content_edit %}class="path-edit"{% endif %}>
                                    <div id="path-design">
                                        {% include 'NetgenMoreAdminUIBundle::page_toppath.html.twig' %}
                                    </div>
                                </div>

                                <div class="main-content">
                                    {% block content %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="break"></div>

        {# The popup menu include must be outside all divs. It is hidden by default. #}
        {% include 'design:popupmenu/popup_menu.tpl' %}
    </div>

    <div id="overlay-mask" style="display:none;"></div>
    <img src="{{ asset( 'bundles/netgenmoreadminui/images/loader.gif' ) }}" id="ajaxuploader-loader" style="display:none;" alt="{{ 'ngmore_admin_ui.layout.loading'|trans }}" />
</body>
</html>
{% endblock %}
