{% extends '@NetgenLayoutsAdmin/form/modal.html.twig' %}

{% form_theme form '@NetgenLayoutsAdmin/form/theme/nglayouts.html.twig' %}
{% form_theme form.layout_type _self %}

{% block header %}
    {{ 'netgen_admin_ui.layout_wizard.title'|trans({'%locationName%': location.contentInfo.name}) }}
{% endblock %}

{% block _layout_wizard_layout_type_widget %}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
        <div class="layout-type-item">
            {{- form_widget(child) -}}
            {{- form_label(child) -}}
        </div>
    {% endfor -%}
    </div>
{% endblock %}

{% block _layout_wizard_layout_type_entry_label %}
    <label for="{{ id }}" class="required">
        <i class="icon" {% if form.vars.layout_type.icon is not null %}style="background-image:url({{ asset(form.vars.layout_type.icon) }})"{% endif %}></i>
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    </label>
{% endblock %}

{% block children %}
    {{ form_row(form.action) }}
    {{ form_row(form.layout_type, {attr: {class: 'layout-type'}}) }}
    {{ form_row(form.layout) }}
    {{ form_row(form.layout_name) }}
    {{ form_row(form.layout_description) }}
    {{ form_row(form.rule_group) }}
    {{ form_row(form.activate_rule) }}
{% endblock %}

{% block buttons %}
    <button class="nl-btn action-cancel">{{ 'netgen_admin_ui.layout_wizard.button.cancel'|trans }}</button>
    <button type="submit" class="nl-btn nl-btn-primary action-apply">{{ 'netgen_admin_ui.layout_wizard.button.save'|trans }}</button>
{% endblock %}
