{% extends '@NetgenLayoutsAdmin/form/modal.html.twig' %}

{% form_theme form '@NetgenLayoutsAdmin/form/theme/nglayouts.html.twig' %}

{% block header %}
    {{ 'netgen_admin_ui.layout_wizard.title'|trans({'%locationName%': location.contentInfo.name}) }}
{% endblock %}

{% block children %}
    {{ form_row(form.action) }}
    {{ form_row(form.layout_type) }}
    {{ form_row(form.layout) }}
    {{ form_row(form.layout_name) }}
    {{ form_row(form.layout_description) }}
    {{ form_row(form.rule_group) }}
    {{ form_row(form.activate_rule) }}
{% endblock %}

{% block buttons %}
    <button class="nl-btn action-cancel">{{ 'netgen_admin_ui.layout_wizard.button.cancel'|trans }}</button>
    <button type="submit" class="nl-btn nl-btn-primary action-apply">{{ 'netgen_admin_ui.layout_wizard.button.save'|trans }}</button>
{% endblock %}
