<div class="layout-list-wrapper">
    <h4 class="title-direct-rules">{{ 'netgen_admin_ui.layouts.mappings.title'|trans }}</h4>
    <h4 class="title-all-rules">{{ 'netgen_admin_ui.layouts.mappings.title_all_rules'|trans }}</h4>

    {% if rules is not empty %}
        <ul class="layout-list">
            <li class="layout-list-head">
                <div class="layout-name">{{ 'netgen_admin_ui.layouts.mappings.mapped_layout'|trans }}</div>
                <div class="layout-target">{{ 'netgen_admin_ui.layouts.mappings.targets'|trans }}</div>
                <div class="layout-conditions">{{ 'netgen_admin_ui.layouts.mappings.conditions'|trans }}</div>
                <div class="layout-actions"></div>
                <div class="layout-dropdown"></div>
            </li>
            {% for rule in rules %}
                <div class="rule{% if not (rules_one_on_one[rule.id.toString] ?? false) %} rule-non-direct{% endif %}">
                    {{ nglayouts_render_rule(rule, {location: location}, 'ngadminui') }}
                </div>
            {% endfor %}
        </ul>

        <div class="show-all-rules">
            <label><input type="checkbox" name="show-all-rules" class="rules-checkbox" /> {{ 'netgen_admin_ui.layouts.mappings.show_all_rules'|trans }}</label>
        </div>

        <div>
            <a class="btn btn-primary js-direct-mapping">{{ 'netgen_admin_ui.layouts.mappings.new_direct_mapping'|trans }}</a>
        </div>
    {% else %}
        <p>{{ 'netgen_admin_ui.layouts.mappings.no_rules'|trans }}</p>
    {% endif %}
</div>
