{% extends layout %}

{% block content %}
    {% block login_content %}
        {% if error %}
            <div class="alert alert-warning" role="alert">
                <h2><span class="time">[{{ 'now'|date( 'd.m.Y H:i' ) }}]</span> {{ error.message|trans }}</h2>

                <ul>
                    <li>{{ 'netgen_admin_ui.login.message.username_password'|trans }}</li>
                    <li>{{ 'netgen_admin_ui.login.message.letter_case'|trans }}</li>
                    <li>{{ 'netgen_admin_ui.login.message.contact_admin'|trans }}</li>
                </ul>
            </div>
        {% endif %}

        <div class="login-container">
            <header class="login-header">
                <a href="#" class="logo logo-type-{{ netgen_admin_ui.logoType }}" title="{{ 'netgen_admin_ui.title'|trans }}"></a>
            </header>

            <form name="loginform" method="post" action="{{ path( 'login_check' ) }}">
                {% block login_fields %}
                    <div class="input-item">
                        <span class="icon icon-user"></span>
                        <input type="text" class="form-control" autofocus="autofocus" size="10" name="_username" id="logintext" placeholder="{{ 'netgen_admin_ui.login.username'|trans }}" tabindex="1" title="{{ 'netgen_admin_ui.login.username.title'|trans }}">
                    </div>
                    <div class="input-item">
                        <span class="icon icon-lock"></span>
                        <input type="password" class="form-control" size="10" name="_password" id="passwordtext" placeholder="{{ 'netgen_admin_ui.login.password'|trans }}" tabindex="2" title="{{ 'netgen_admin_ui.login.password.title'|trans }}">
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token( "authenticate" ) }}" />

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}

                    <button class="btn btn-primary" type="submit" id="loginbutton" name="LoginButton" tabindex="3" title="{{ 'netgen_admin_ui.login.submit.title'|trans }}">{{ 'netgen_admin_ui.login.submit'|trans }}</button>
                {% endblock %}
            </form>
        </div>
    {% endblock %}
{% endblock %}
