<h2>{{ 'netgen_admin_ui.layouts.mappings.applied_to'|trans }}: {{ ez_content_name(content) }}</h2>

{% if rules is not empty %}
    <p>{{ 'netgen_admin_ui.layouts.mappings.order_note'|trans }}</p>

    <table>
        <thead>
            <tr>
                <th>{{ 'netgen_admin_ui.layouts.mappings.mapped_layout'|trans }}</th>
                <th>{{ 'netgen_admin_ui.layouts.mappings.targets'|trans }}</th>
                <th>{{ 'netgen_admin_ui.layouts.mappings.conditions'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for rule in rules %}
                {{ ngbm_render_rule(rule, {}, 'ngadminui') }}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{ 'netgen_admin_ui.layouts.mappings.no_rules'|trans }}</p>
{% endif %}
