{% import 'NetgenBlockManagerAdminBundle:admin:macros.html.twig' as macros %}

<li class="layout-list-item">
    <div class="layout-name">{{ rule.layout.name }}</div>

    <div class="layout-target">
        {% set target_type = rule.targets[0].targetType.type %}

        <p>{{ ('layout_resolver.target.' ~ target_type)|trans({}, 'ngbm') }}:</p>

        <ul>
            {% for target in rule.targets %}
                <li {% if rule_count == 1 and rule.targets|length == 1 and (target_type == 'ezlocation' or target_type == 'ezcontent') %}class="unique"{% endif %}>
                    {{ ngbm_render_rule_target(target, {}, 'value') }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="layout-conditions">
        <ul>
            {% for condition in rule.conditions %}
                <li>{{ ('layout_resolver.condition.' ~ condition.conditionType.type)|trans({}, 'ngbm') }}: {{ ngbm_render_rule_condition(condition, {}, 'value') }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="layout-actions">
        {% if is_granted('ROLE_NGBM_EDITOR') %}
            <a href="{{ macros.layout_path(rule.layout.id) }}" class="btn btn-primary btn-sm js-open-bm">{{ 'netgen_admin_ui.layouts.mappings.edit_layout'|trans }}</a>
        {% endif %}
    </div>
</li>
